:root {
  --whiskey: #d4ac78;
  --robroy: #eabe7d;
  --shark: #272a32;
  --mischka: #dddce1;
  --frenchgray: #c8c8ca;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 3px solid black; */
}
body {
  background-color: var(--robroy) !important;
}

.cur-pointer {
  cursor: pointer;
}

.bg-Whiskey {
  background-color: var(--whiskey);
}
.bg-Shark {
  background-color: var(--shark);
}

.bg-Mischka {
  background-color: var(--mischka);
}
.color-white {
  color: white;
}
.border-color-whiskey {
  border-bottom: 2px solid var(--whiskey);
}
.fill-whiskey {
  fill: var(--whiskey) !important;
}
/* LAYOUT */
.h-350 {
  height: 350px;
}
.w-55 {
  width: 55%;
}
.w-45 {
  width: 45%;
}
.max_200px {
  max-width: 200px;
}
.icon-sm {
  width: 30px;
  height: 30px;
}
.row-10px {
  row-gap: 10px;
}
.column-30px {
  column-gap: 30px;
}
.min-height-400 {
  min-height: 400px;
}

/* PADDING&&MARGIN */
.pt-80px {
  padding-top: 80px;
}
.pt-96px {
  padding-top: 96px;
}
.ps-80 {
  padding-left: 80px;
}

/* TYPOGRAPHY */
.big-h1 {
  font-size: 70px;
  text-align: left;
}
.text-left {
  text-align: left;
}
.caption {
  font-size: 20px;
}
.title {
  font-size: 35px;
}
.title-medium {
  font-size: 25px;
}
.title-small {
  font-size: 20px;
}
.body {
  font-size: 20px;
  text-align: left;
  line-height: 30px;
  max-width: 450px;
}
.dosis-400 {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.dosis-500 {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.dosis-600 {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.dosis-700 {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
/* BORDER */

.border-bottom-2 {
  border-bottom: 2px solid;
}

/* CONTAINER */

.photo-box {
  width: 190px;
  height: 190px;
  border: 10px solid var(--whiskey);
}

.divider {
  display: block;
  width: 200px;
  height: 3px;
  background-color: var(--whiskey);
  margin-top: 36px;
}
.card {
  background-color: transparent !important;
  border: none !important;
  outline: none !important;
  margin-bottom: 40px;
}
.prosess-bar {
  width: 300px;
  height: 20px;
  background-color: var(--frenchgray);
}
.prosess {
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--whiskey);
}
